.panel
  %h3
    = auto_link questionnaire.organization
    –
    = auto_link questionnaire
  .panel_contents
    .columns.clearfix
      .column
        .attributes_table.narrow
          %table
            %tbody
              %tr
                %th=t '.table.days_header'
                %td=t '.table.days', count: questionnaire.days_elapsed
              %tr
                %th=t '.table.responses_header'
                %td
                  =t '.table.responses', count: @charts[questionnaire.id.to_s][:responses][:count]
                  = link_to t('.table.download'), admin_dashboard_csv_path(id: questionnaire)
              %tr
                %th=t '.table.time_to_complete_header'
                %td= distance_of_time_in_words questionnaire.time_to_complete
              - if @charts[questionnaire.id.to_s][:visits]
                %tr
                  %th=t '.table.participation_rate_header'
                  %td= number_to_percentage @charts[questionnaire.id.to_s][:responses][:count] / @charts[questionnaire.id.to_s][:visits][:visitors].to_f * 100, precision: 1
      .column
        %div(id="#{dom_id(questionnaire)}_responses" style="width:600px;height:250px;")
    - if @charts[questionnaire.id.to_s][:visits]
      .columns.clearfix
        .column
          .attributes_table.narrow
            %table
              %tbody
                %tr
                  %th=t '.table.visitors_header'
                  %td= @charts[questionnaire.id.to_s][:visits][:visitors]
                %tr
                  %th=t '.table.visits_header'
                  %td= @charts[questionnaire.id.to_s][:visits][:visits]
                %tr
                  %th=t '.table.pageviews_header'
                  %td= @charts[questionnaire.id.to_s][:visits][:pageviews]
        .column
          %div(id="#{dom_id(questionnaire)}_visits" style="width:600px;height:250px;")
    - if @charts[questionnaire.id.to_s][:sources]
      .columns.clearfix
        .column.offset
          %div(id="#{dom_id(questionnaire)}_sources" style="width:600px;height:300px;")

-# Google Charts adds null values for missing dates in the time series.
-# https://developers.google.com/chart/interactive/docs/gallery/linechart
:javascript
  draw('LineChart', '#{dom_id(questionnaire)}_responses', [
    "#{t '.chart.responses'}"
  ], [#{@charts[questionnaire.id.to_s][:responses][:rows]}], {
    hAxis: {
      baselineColor: '#f4f4f4',
      format: '#{t :icu_date_format}'
    },
    legend: {
      position: 'none'
    },
    title: "#{t '.chart.responses_title'}"
  });
- if @charts[questionnaire.id.to_s][:visits]
  :javascript
    draw('LineChart', '#{dom_id(questionnaire)}_visits', [
      "#{t '.chart.visitors'}",
      "#{t '.chart.visits'}",
      "#{t '.chart.pageviews'}"
    ], [#{@charts[questionnaire.id.to_s][:visits][:rows]}], {
      hAxis: {
        baselineColor: '#f4f4f4',
        format: '#{t :icu_date_format}'
      },
      legend: {
        position: 'bottom'
      },
      title: "#{t '.chart.visits_title', name: @charts[questionnaire.id.to_s][:visits][:name], property: @charts[questionnaire.id.to_s][:visits][:property]}"
    });
- if @charts[questionnaire.id.to_s][:sources]
  :javascript
    draw('PieChart', '#{dom_id(questionnaire)}_sources', [
      "#{t '.chart.visitors'}"
    ], [#{@charts[questionnaire.id.to_s][:sources][:rows]}], {
      pieResidueSliceLabel: "#{t '.chart.other'}",
      sliceVisibilityThreshold: 1 / 90
    });
