.modal.hide.fade(id="#{section.title.parameterize}_extra")
  .modal-header
    = link_to '×', '#', 'data-dismiss' => 'modal', 'class' => 'close'
    %h3= section.title
  .modal-body
    :markdown
      #{section.extra}
  .modal-footer
    = link_to t('.close'), '#', 'data-dismiss' => 'modal', 'class' => 'btn btn-primary'
