%header
  - if @questionnaire.logo?
    #logo
      = logo
  %h1
    - if local_assigns[:header]
      = header
    - else
      - if @questionnaire.title_image?
        = image_tag @questionnaire.title_image.square.url, size: '72x72', alt: ''
      = @questionnaire.title
  <!--[if gt IE 7]><!-->
  #facebook
    = facebook_button
  <!--<![endif]-->
  #twitter
    = twitter_button
