= object.title.html_safe
- if object.extra?
  %span
    %i.icon-info-sign
    - if object.extra_url?
      = link_to custom_or_default(@questionnaire.read_more, t('.read_more')), object.extra
    - else
      = link_to custom_or_default(@questionnaire.read_more, t('.read_more')), "##{object.title.parameterize}_extra", 'class' => 'popover-toggle', 'data-content' => escape_attribute(markdown(object.extra)).html_safe, 'data-placement' => placement
- if object.embed?
  %span
    %i.icon-facetime-video
    = link_to t('.view_media'), "##{object.title.parameterize}_embed", 'data-toggle' => 'modal', 'rel' => 'tooltip', 'title' => t('.view_media_tip')
