.container
  %header
    - if @questionnaire.logo?
      #logo
        = link_to_unless_current image_tag(@questionnaire.logo.large.url, alt: ''), root_path
    %h1= @questionnaire.title
    #facebook
      = facebook_button
    #twitter
      = twitter_button

  %section#introduction
    .row
      .span8
        :markdown
          #{@questionnaire.introduction}
      .span4
        &nbsp;

  = bootstrap_form_for @response, html: {class: 'form-horizontal'} do |f|
    %section#questionnaire
      %nav
        %ul.nav.nav-pills
          = render partial: 'nav'

      #message.message=t '.instructions'

      #whitespace

      = render @questionnaire

    %section#identification
      = f.inputs name: t('.submit_your_choices') do
        = f.input :email, required: true, input_html: {class: 'validate[required,custom[email]]'}
        = f.input :postal_code, required: true, input_html: {class: 'validate[required,custom[postalCode]] span2'}
        = f.input :age, as: :number, input_html: {maxlength: 3, class: 'span1'}
        = f.input :gender, as: :radio, collection: t(:gender).map{|k,v| [v, k]}
        = f.input :name
        = f.input :comments, as: :text, input_html: {rows: 4, class: 'span6'}
        = f.input :newsletter
        = f.input :subscribe
        = f.input :initialized_at, as: :hidden
      = f.actions do
        = f.action :submit, t('.submit')

  = render 'footer'

:javascript
  var maximumDifference = #{@maximum_difference};

- content_for :footer do
  = render partial: 'modals'
