.container.disabled
  %header
    - if @questionnaire.logo?
      #logo
        = link_to_unless_current image_tag(@questionnaire.logo.large.url, alt: ''), root_path
    - if @response.name?
      %h1=t '.header', name: @response.display_name
    - else
      %h1= @questionnaire.title
    #facebook
      = facebook_button
    #twitter
      = twitter_button

  - if flash[:notice]
    .alert.alert-success.fade.in
      = link_to '×', '#', 'data-dismiss' => 'alert', 'class' => 'close'
      = flash[:notice]
  - else
    .alert#invitation
      =t('.invitation', url: root_path).html_safe

  %p=t '.share'

  .well.share-well
    %p
      =t '.share_link'
      %span.input-prepend<
        %span.add-on#clippy(rel="tooltip" title="#{t('.copy_hint')}")
          %span.clippy
        = text_field_tag 'url', Bitly.shorten(response_url(@response)), id: 'url-field'
  - if @questionnaire.twitter_share_text?
    .well.share-well#share-twitter
      %p
        = curly_quote @questionnaire.twitter_share_text
        = twitter_button 'data-count' => 'none', 'data-size' => 'large', 'data-text' => @questionnaire.twitter_share_text, 'data-url' => response_url(@response)

  %nav
    %ul.nav.nav-pills
      %li.dropdown.open
        = link_to('#', {'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown'}) do
          = t('.comments')
          %span.caret
        %ul.dropdown-menu
          %li
            .fb-comments(data-href="#{response_url(@response)}" data-num-posts="2" data-width="470")
      = render partial: 'nav'

  #whitespace

  = render @questionnaire

  - unless flash[:notice]
    .alert#invitation
      =t('.invitation', url: root_path).html_safe

  = render 'footer'

= render partial: 'modals'

:javascript
  var maximumDifference = #{@maximum_difference};
  var disabled = true;
