.container.disabled
  %header
    - if @response.name?
      = render partial: 'header', locals: {header: t('.header', name: @response.display_name)}
    - else
      = render partial: 'header'

  - if flash[:notice]
    .alert.alert-success.fade.in
      = link_to '×', '#', 'data-dismiss' => 'alert', 'class' => 'close'
      = flash[:notice]
  - else
    .alert.invitation
      =t('.invitation', url: root_path).html_safe

  - if @questionnaire.response_preamble.present?
    :markdown
      #{@questionnaire.response_preamble}
  - else
    %p=t '.share'

  .well.share-well
    %p
      =t '.share_link'
      %span.input-prepend<
        %span.add-on#clippy(rel="tooltip" title="#{t('.copy_hint')}")
          %span.clippy
        = text_field_tag 'url', Bitly.shorten(response_url(@response)), id: 'url-field'
  - if @questionnaire.twitter_share_text?
    .well.share-well#share-twitter
      %p
        = curly_quote @questionnaire.twitter_share_text
        = twitter_button 'data-count' => 'none', 'data-size' => 'large', 'data-text' => @questionnaire.twitter_share_text, 'data-url' => response_url(@response)

  - if @questionnaire.response_body.present?
    :markdown
      #{@questionnaire.response_body}

  %nav
    %ul.nav.nav-pills
      %li.dropdown.open
        = link_to('#', {'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown'}) do
          = t('.comments')
          %span.caret
        %ul.dropdown-menu
          %li
            .fb-comments(data-href="#{response_url(@response)}" data-num-posts="2" data-width="470")
      - unless simple_navigation?
        = render partial: 'nav'

  #whitespace

  = render @questionnaire

  - unless flash[:notice]
    .alert.invitation
      =t('.invitation', url: root_path).html_safe

  = render 'footer', disabled: true

- content_for :footer do
  = render partial: 'hidden'
