.container.disabled
  %header
    - if @questionnaire.logo?
      #logo= image_tag @questionnaire.logo.large.url, alt: ''
    %h1= @questionnaire.title
    #facebook
      = facebook_button
    #twitter
      = twitter_button

  - if flash[:notice]
    .alert.alert-success.fade.in
      = link_to '×', '#', 'data-dismiss' => 'alert', 'class' => 'close'
      = flash[:notice]

  %p=t '.share'
  -# @todo paragraph explaining sharing (Alex will provide)

  - unless flash[:notice]
    .alert#invitation
      =t('.invitation', url: root_path).html_safe

  -# @todo
  =# add big yellow arrow pointing to "add a comment" button
  -# sharing: email, new twitter button, facebook open graph actions?

  %nav
    %ul.nav.nav-pills
      %li.dropdown
        = link_to('#', {'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown'}) do
          = t('.comments')
          %span.caret
        %ul.dropdown-menu
          %li
            .fb-comments(data-href="#{response_url(@response)}" data-num-posts="2" data-width="470")
      - @groups.each do |group,sections|
        - if sections.size == 1
          = render sections
        - else
          %li.dropdown
            = link_to('#', {'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown'}) do
              = t(group, scope: :group)
              %span.caret
            %ul.dropdown-menu
              = render sections
      - @groups.each do |group,_|
        %li.group(id="#{group}")
          .inner
            .chart
              .title=t group, scope: :group
              .bar
              .zero
              .amount= number_to_currency 0

  #whitespace

  - @questionnaire.sections.each do |section|
    %table(id="#{section.title.parameterize}" rel="#{section.group}" class="#{section.group}")
      %thead
        %tr
          %th.category
            = section.title
            - if section.extra?
              %span
                %i.icon-info-sign
                = link_to t('.read_more'), "##{section.title.parameterize}_extra", 'data-toggle' => 'modal', 'rel' => 'tooltip', 'title' => t('.read_more_tip')
            - if section.embed?
              %span
                %i.icon-facetime-video
                = link_to t('.view_media'), "##{section.title.parameterize}_embed", 'data-toggle' => 'modal', 'rel' => 'tooltip', 'title' => t('.view_media_tip')
          %th.column.highlight
            =t '.your_choice'
      %tbody
        - section.questions.each do |q|
          %tr
            %td.description
              %h3
                = q.title
                - if q.extra?
                  %span
                    %i.icon-info-sign
                    = link_to t('.read_more'), '#', 'class' => 'popover-toggle', 'data-content' => escape_attribute(markdown(q.extra))
              - if q.description?
                :markdown
                  #{q.description}
            %td.highlight
              %div(class="widget widget-#{q.widget}")
                - if q.widget == 'slider'
                  .impact
                    %span.key
                    %span.value 0 $
                  .meta.maximum=  number_with_delimiter(q.maximum_units)
                  .meta.minimum= [number_with_delimiter(q.minimum_units), q.unit_name].compact.join ' '
                  .control.slider(data-value="#{q.unit_amount}" data-initial="#{q.default_value}" data-minimum="#{q.minimum_units}" data-maximum="#{q.maximum_units}" data-step="#{q.step}" data-actual="#{@response.answer(q)}" disabled="disabled")
                    = hidden_field_tag q.id, @response.answer(q)
                    .tick.lowest
                    .tick.initial
                    .tick.highest
                  .meta.maximum
                    = number_to_currency q.maximum_amount
                  .meta.minimum
                    = number_to_currency q.minimum_amount
                - elsif q.widget == 'onoff'
                  .impact
                    %span.key
                    %span.value 0 $
                  .control.onoff
                    = check_box_tag q.id, '1', @response.checked?(q), 'data-value' => q.unit_amount, 'data-initial' => q.default_value, 'data-actual' => @response.answer(q), 'disabled' => 'disabled'
                  %div(class="meta maximum#{' changed' if q.unchecked?}")
                    = number_to_currency q.maximum_amount
                  %div(class="meta minimum#{' changed' if q.checked?}")
                    = number_to_currency q.minimum_amount
                - elsif q.widget == 'radio'
                  -#@todo sondage

- @questionnaire.sections.each do |section|
  - if section.extra?
    = render partial: 'extra', object: section
  - if section.embed?
    .modal.hide.fade.embed(id="#{section.title.parameterize}_embed")
      = section.embed.html_safe
      = link_to t('.close'), '#', 'data-dismiss' => 'modal', 'class' => 'btn btn-primary'

:javascript
  var maximumDifference = #{@maximum_difference};
  var disabled = true;
