.container.disabled
  = render partial: 'header'

  - if flash[:notice]
    .alert.alert-success.fade.in
      = link_to '×', '#', 'data-dismiss' => 'alert', 'class' => 'close'
      = flash[:notice]

  %p=t '.share'
  -# @todo paragraph explaining sharing (Alex will provide)

  - unless flash[:notice]
    .alert#invitation
      =t('.invitation', url: root_path).html_safe

  -# @todo
  =# add big yellow arrow pointing to "add a comment" button
  -# sharing: email, new twitter button, facebook open graph actions?

  %nav
    %ul.nav.nav-pills
      %li.dropdown
        = link_to('#', {'class' => 'dropdown-toggle', 'data-toggle' => 'dropdown'}) do
          = t('.comments')
          %span.caret
        %ul.dropdown-menu
          %li
            .fb-comments(data-href="#{response_url(@response)}" data-num-posts="2" data-width="470")
      - render partial: 'nav'

  #whitespace

  = render @questionnaire

  = render 'footer'

= render partial: 'modals'

:javascript
  var maximumDifference = #{@maximum_difference};
  var disabled = true;
