- @questionnaire.sections.each do |section|
  %table(id="#{section.title.parameterize}" rel="#{section.group}" class="#{section.group}")
    %thead
      %tr
        %th.category
          = section.title
          - if section.extra?
            %span
              %i.icon-info-sign
              = link_to t('.read_more'), "##{section.title.parameterize}_extra", 'data-toggle' => 'modal', 'rel' => 'tooltip', 'title' => t('.read_more_tip')
          - if section.embed?
            %span
              %i.icon-facetime-video
              = link_to t('.view_media'), "##{section.title.parameterize}_embed", 'data-toggle' => 'modal', 'rel' => 'tooltip', 'title' => t('.view_media_tip')
        %th.column.highlight
          =t '.your_choice'
      - if section.description?
        %tr
          %td.description
            :markdown
              #{section.description}
    %tbody
      - section.questions.each do |q|
        %tr
          - if q.widget == 'radio'
            -#@todo sondage
          - else
            %td.question
              %h3
                = q.title
                - if q.extra?
                  %span
                    %i.icon-info-sign
                    = link_to t('.read_more'), '#', 'class' => 'popover-toggle', 'data-content' => escape_attribute(markdown(q.extra))
              - if q.description?
                :markdown
                  #{q.description}
            %td.highlight
              %div(class="widget widget-#{q.widget}")
                - if q.widget == 'slider'
                  .impact
                    %span.key
                    %span.value= number_to_currency 0
                  - if q.unit_name == '$' && q.unit_amount == 1
                    .meta.maximum &nbsp;
                    .meta.minimum &nbsp;
                  - else
                    .meta.maximum=  number_with_delimiter(q.maximum_units)
                    .meta.minimum= [number_with_delimiter(q.minimum_units), q.unit_name].compact.join ' '
                  - if @response.persisted?
                    .control.slider(data-value="#{q.unit_amount}" data-initial="#{q.default_value}" data-minimum="#{q.minimum_units}" data-maximum="#{q.maximum_units}" data-step="#{q.step}" data-actual="#{@response.answer(q)}" disabled="disabled")
                      = hidden_field_tag q.id, @response.answer(q)
                      .tick.lowest
                      .tick.initial
                      .tick.highest
                  - else
                    .control.slider(data-value="#{q.unit_amount}" data-initial="#{q.default_value}" data-minimum="#{q.minimum_units}" data-maximum="#{q.maximum_units}" data-step="#{q.step}")
                      = hidden_field_tag q.id, q.default_value
                      .tick.lowest
                      .tick.initial
                      .tick.highest
                  .meta.maximum
                    = number_to_currency q.maximum_amount
                  .meta.minimum
                    = number_to_currency q.minimum_amount
                - elsif q.widget == 'onoff'
                  .impact
                    %span.key
                    %span.value= number_to_currency 0
                  .control.onoff
                    = hidden_field_tag q.id, '0' # Mimic an unchecked box.
                    - if @response.persisted?
                      = check_box_tag q.id, '1', @response.checked?(q), 'data-value' => q.unit_amount, 'data-initial' => q.default_value, 'data-actual' => @response.answer(q), 'disabled' => 'disabled'
                    - else
                      = check_box_tag q.id, '1', q.checked?, 'data-value' => q.unit_amount, 'data-initial' => q.default_value
                  %div(class="meta maximum#{' changed' if q.unchecked?}")
                    = number_to_currency q.maximum_amount
                  %div(class="meta minimum#{' changed' if q.checked?}")
                    = number_to_currency q.minimum_amount
